html, body { height: 100%; }
.mat-drawer-container{
    &.library-drawer{
        min-height: 100vh;
        .component-viewport{
            //display: flex;
            padding: 30px;
        }
    }
}