.ma-app-download{
    min-height: 200px;
    background-color: #BDBDBD;
    padding: 25px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    >.ma_flex--container{
        flex-wrap: wrap;
    }
    .col-1{
        min-width: 200px;
        @include respond-to("x-small") {
            flex: 0 0 100%;
            max-width: unset;
            margin-right: 0;
            margin-bottom: 20px;
            border-right: 0px dotted #fff;
        }
        @include respond-to("medium") {
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
            margin-right: 30px;
            margin-bottom: 0px;
            border-right: 1px dotted #fff;
        }
    }
    .section-header--small{
        color: #fff;
        h1{
            margin-bottom: 10px;
            font-weight: 600;
        }
    }
    .logo-section{
        img{
            width: 200px;
            height: 65px;
            margin-right: 20px;
        }
    }
    .background-logo{
        position: absolute;
        right: 120px;
        bottom: -88px;
        img{
            width: 250px;
        }
        @include respond-to("x-small") {
            display: none;
        }
        @include respond-to("medium") {
            display: block;
        }
    }
}