.ma-state-chip{
    min-width: 40px;
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    &--primary{
        @extend .ma-state-chip;
        background-color: #CDDC39;
    }
} 
.mat-chip{
    .mat-chip{
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 16px;
    }
}