.carousel-inner{
    min-height: 500px;
}
.carousel-description{
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 14;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    h1, h2{
        margin:10px 0px;
    }
    .btn-carousel{
        background-color: #FFDD00;
        color: #FFFFFF;
        padding: 0px 30px;
        border-radius: 18px;
        margin: 40px 0px;
    }
}
.carousel-menu{
    display: flex;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0px;
    left: 0;
    z-index: 15;
    min-height: 60px;
    .menu-item{
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
        white-space: nowrap;
        &:hover{
            background-color: #E91E63;
            cursor: pointer;
            .item-body{
                display: block;
            }
        }
    }
    .right-col{
        width: 100%;
        padding-right: 30px;
    }
    .item-body{
        display: none;
        position: absolute;
        top:60px;
        left: 0px;
        min-height: 440px;
        background-color: #E91E63;
        color: #fff;
        width: 100%;
        >.row{
            min-height: 440px;;
        }
        .section-title{
            margin-bottom: 10px;
            font-size: 16px;
        }
        .bottom-row{
            margin-top: 44px;
        }
        .__link{
            font-size: 12px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}