.ma-image-card-full{
    background-color: #dedede;
    min-height: 450px;
    padding: 30px;
    .btn-learn-more{
        border-radius: 18px;
        background-color: #E91E63;
        color: #fff;
        margin: 20px 0px;
    }
}