.card-outer-wrapper{
    overflow: hidden;
    position: relative; 
    margin: 5px;
    .card-image{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.50) ), url('https://previews.123rf.com/images/stockbroker/stockbroker1411/stockbroker141100098/33469667-group-of-young-friends-shopping-outdoors-together.jpg');
        background-size: contain;
        background-size: cover;
        transition: all 0.5s ease;
    }
    &:hover{
        cursor: pointer;
        .card-image{
            transform: scale(1.2);
        }
    }
}
.ma-image-card{
    &--primary{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        min-height: 200px;
        @include respond-to("x-small") {
            min-width: 250px;
        }
        @include respond-to("medium") {
            min-width: 300px;
        }
        position: relative;
        .heart-icon{
            color: $ma_color_primary;
        }
        .star-icon{
            color:$ma_color_primary;
        }
        .card-details-section{
            color: #fff;
            i{
                font-size: 16px;
            }
        }
    }
    &--described{
        padding: 15px;
        min-width: 300px;
        min-height: 200px;
        position: relative;
        .heart-icon{
            color: $ma_color_primary;
        }
        .star-icon{
            color:$ma_color_primary;
        }
    }
    &--secondary{
        padding:15px;
        min-height: 150px;
        position: relative;
        transition: all 1s ease-out;
        .card-inner-wrapper{
            padding: 15px;
            border:1px dotted #fff;
            display: flex;
            align-items: flex-end;
            width: 100%;
        }
    }
    &--detailed{
        padding:15px;
        min-height: 150px;
        position: relative;
        transition: all 1s ease-out;
        .card-inner-wrapper{
            padding: 15px;
            border:1px dotted #fff;
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            justify-content: center;
            .item-name{
                border-right: 1px dotted #fff;
                padding-right: 20px;
                max-width: 170px;
                h3{
                    white-space: normal;
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .item-price{
                padding-left: 20px;
                h3{
                    font-size: 32px;
                    line-height: 32px;
                }
            }
            .item-label{
                position: absolute;
                bottom: 0;
                right: 7px;
            }
        }
    }
    &--verticle{
        min-height: 500px;
        min-width: 100px;
        padding:15px;
        position: relative;
        transition: all 1s ease-out;
        .card-inner-wrapper{
            padding: 15px;
            border:1px dotted #fff;
            width: 100%;
            display: flex;
            justify-content: center;
            .card-title{
                margin:30px 0px;
            }
            .card-sub-title{
                text-align: center;
                margin:20px 0px;
            }
        }
        button{
            border-radius: 18px;
            color: #fff;
            background-color: #4CAF50;
            border-radius: 1px solid #707070;
            padding: 0 30px;
        }
    }
}
.described-card-details{
    padding: 15px;
    padding-top: 5px;
    i{
        font-size: 16px;
    }
    .star-icon{
        color:$ma_color_primary;
        padding-right: 2px;
    }
    .left-col{
        min-height: 80px;
    }
    .right-col{
        min-height: 80px;
    }
}
.secondary-card-details{
    margin-top: 20px;
}
.verticle-card-wrapper{
    display: flex;
    height: 100%;
}

.ma-search-item-card{
    background-color: #fff;
    padding: 15px;
    position: relative;
    .img-wrapper{
        @include respond-to("x-small") {
            flex-grow: 1;
        }
        @include respond-to("small") {
            flex-grow: inherit;
        }
        @include respond-to("medium") {
            flex-grow: inherit;
        }
    }
    img{
        @include respond-to("x-small") {
            max-width: unset;
            margin-right: 0px;
            width: 100%;
            margin-bottom: 20px;
        }
        @include respond-to("medium") {
            max-width: 200px;
            margin-right: 20px;
            margin-bottom: 0px;
        }
    }
    .desc-container{
        >.ma_flex__item:nth-child(1){
            @include respond-to("x-small") {
                margin-bottom: 10px;
            }
            @include respond-to("small") {
                margin-bottom: 0px;
            }    
        }
        @include respond-to("x-small") {
            flex-direction: column;
        }
        @include respond-to("small") {
            flex-direction: row;
        }
    }
    .star-icon{
        margin-right: 5px;
    }
    .item-name{
        margin-bottom: 10px;
    }
    .item-badge{
        background-color: $ma_color_primary;
        width: 60px;
        height: 60px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}