.ma-image-card-full{
    // background: linear-gradient( rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) ), url('https://jooinn.com/images/girl-using-mobile-2.png') no-repeat;
    // background-size: cover;
    // padding: 30px 70px;
    position: relative;
    min-height: 500px;
    .img-bg{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .img-landing-page, .img-vendor-page{
        display: none;
    }
    .inner-wrapper{
        min-height: 500px;
        padding: 30px 70px;
    }
    .card-title{
        font-size: 50px;
        font-weight: 600;
        margin: 30px 0px;
        line-height: 50px;
    }
    .card-description{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .btn-learn-more{
        border-radius: 28px;
        background-color: #E91E63;
        color: #fff;
        margin: 20px 0px;
        font-size: 30px;
        padding: 10px 30px;
    }
    .card-logo{
        background-color: #fff;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid #F8F8F8;
    }
}