.ma-menu{
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    // position: absolute;
    // right: 0;
    // top: 0px;
    // left: 0;
    z-index: 20;
    min-height: 60px;
    @include respond-to("x-small") {
        margin-right: 0%;
        margin-left: 0%;
        flex-wrap: wrap;
        display: none;
    }
    @include respond-to("medium") {
        margin-right: 0%;
        margin-left: 0%;
        flex-wrap: unset;
        display: block;
    }
    .menu-item{
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 30px;
        white-space: nowrap;
        &:hover{
            background-color: $ma_color_primary;
            cursor: pointer;
            .item-body{
                display: block;
            }
        }
    }
    .right-col{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        @include respond-to("x-small") {
            padding: 5px;
        }
        @include respond-to("medium") {
            padding: 0px;
            padding-right: 20px;
        } 
    }
    .item-body{
        display: none;
        position: absolute;
        top:60px;
        z-index: 20;
        left: 0px;
        min-height: 440px;
        background-color: $ma_color_primary;
        color: #fff;
        width: 100%;
        justify-content: flex-end;
        @include respond-to("x-small") {
            padding: 30px;
        }
        @include respond-to("medium") {
            padding: 0px;
        } 
        >.row{
            min-height: 440px;;
        }
        .section-title{
            margin-bottom: 10px;
            font-size: 16px;
        }
        .bottom-row{
            margin-top: 44px;
        }
        .__link{
            font-size: 12px;
        }
        img{
            width: 100%;
            height: 100%;
            @include respond-to("x-small") {
                display: none;
            }
            @include respond-to("medium") {
                display: block;
            } 
        }
    }
}
.menu-nav-wrapper{
    position: absolute;
    right: 0;
    top: 0px;
    left: 0;
    z-index: 9999;
    &.bg-dark{
        @include respond-to("x-small") {
            background-color: #000 !important;
        }
        @include respond-to("medium") {
            background-color: unset !important;
        }
    }
}