.ma-search-result-filter{
    max-width: 350px;
    padding: 25px;
    background-color: #3d3d3d;
    color: #fff;
    @include respond-to("x-small") {
        max-width: unset;
    }
    @include respond-to("small") {
        max-width: 350px;
    }
    .mat-checkbox-label{
        color: #CACACA;
    }
    .mat-checkbox-frame{
        border-color:#CACACA;
    }
    .sort-by{
        margin: 40px 0px;
        .sort-by-header{
            margin: 40px 0px;
        }
        button{
            border: 0px;
            padding: 0px;
        }
        .mat-button-wrapper{
            display: flex;
        }
    }
    .rating{
        margin: 40px 0px;
        .rating-header{
            margin: 20px 0px;
        }
        .star-icon{
            font-size: 32px;
        }
    }
    .distance{
        margin: 40px 0px;
        .distance-header{
            margin: 20px 0px;
        }
    }
    .open-days{
        margin: 40px 0px;
        .open-days-header{
            margin: 20px 0px;
        }
        .chkbox-days{
            flex-wrap: wrap;
            >.ma_flex__item{
                width: 50%;
                margin: 15px 0px;
            }
        }
    }
    .collection-time{
        margin: 40px 0px;
        .collection-time-header{
            margin: 20px 0px;
        }
        .dropdown-wrapper{
            background-color: #fff;
            border-radius: 5px;
            padding: 0px 15px;
            width: 100%;
            margin: 20px 0px;
            .mat-form-field{
                width: 100%;
                position: relative;
                top: 3px;
                .mat-form-field-underline{
                    display: none;
                }
            }
        }
    }
    .vendor-cats{
        margin: 40px 0px;
        .vendor-cats-header{
            margin: 20px 0px;
        }
        .chkbox-cats{
            flex-wrap: wrap;
            >.ma_flex__item{
                width: 50%;
                margin: 20px 0px;
            }
        }
    }
    .mat-button-toggle-group{
        justify-content: space-between;
        flex-wrap: wrap;
        border: 0px;
    }
    .mat-button-toggle{
        border-radius: 24px;
        min-width: 130px;
        margin-bottom: 20px;
        color: $ma_color_primary;
        &.mat-button-toggle-checked{
            background-color:$ma_color_primary;
            color: #fff;
        }
    }
    .mat-divider--dashed{
        margin: 20px 0px !important;
    }
    .mat-checkbox-inner-container{
        height: 25px;
        width: 25px;
    }
    .chkbox-reverse{
        .mat-checkbox-layout{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .mat-checkbox-label{
                margin-right: 10px;
            }
            .mat-checkbox-inner-container{
                margin:0px;
            }
        }
    }
    .mat-slider-horizontal{
        width: 100%;
        .mat-slider-track-background,.mat-slider-track-wrapper{
            height: 5px !important;
            background-color: #fff;
        }
        .mat-slider-track-fill{
            height: 5px !important;
            background-color:$ma_color_primary !important;
        }
    }
    .mat-slider-thumb{
        background-color:$ma_color_primary !important;
        bottom: -11px !important;
    }
    .mat-slider-thumb-label{
        background-color:$ma_color_primary;
    }
    .mat-slider-thumb-label-text{
        color: #fff;
    }
}