.ma-top-categories{
    position: relative;
    bottom: 160px;
    margin-right: 50px;
    margin-left: 50px;
    @include respond-to("x-small") {
        margin-right: 0px;
        margin-left: 0px;
    }
    @include respond-to("medium") {
        margin-right: 50px;
        margin-left: 50px;
    }
    .section-header--small{
        h1{
            margin-bottom: 10px;
        }
    }
    .top-categories-header{
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px !important;
        padding: 40px 0px;
        background-color: #ffffff;
        @media screen and (max-width: 485px){
            margin-bottom: -25px !important;
            text-align: center;
        }
    }
    .top-cat-middle-col{
        background-color: #ffffff;
        >.ma_flex--container{
            flex-wrap: wrap;
        }
        .row-1{
            button{
                @include respond-to("x-small") {
                    border:1px solid #CCCCCC;
                }
                @include respond-to("medium") {
                    border-top: 0px;
                    border-left: 0px;
                }
            }
            .cat-item{
                &:nth-last-child(1){
                    button{
                        @include respond-to("x-small") {
                            border:1px solid #CCCCCC;
                        }
                        @include respond-to("medium") {
                            border-right: 0px;
                        }
                    }
                }
            }
        }
        .row-2{
            button{
                @include respond-to("x-small") {
                    border:1px solid #CCCCCC;
                }
                @include respond-to("medium") {
                    border-bottom: 0px;
                    border-left: 0px;
                    border-top: 0px;
                }
            }
            .cat-item{
                &:nth-last-child(1){
                    button{
                        @include respond-to("x-small") {
                            border:1px solid #CCCCCC;
                        }
                        @include respond-to("medium") {
                            border-right: 0px;
                        }
                    }
                }
            }
        }
    }
    .triangle-left{
        width: 0;
        height: 0px;
        border-top: 100px solid #BCBCBC;
        border-left: 20px solid transparent;
    }
    .triangle-right{
        width: 0;
        height: 0px;
        border-top: 100px solid #BCBCBC;
        border-right: 20px solid transparent;
    }
    .cat-item{
        min-height: 100px;
        min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            font-size: 32px;
            margin-bottom: 10px;
            transition: .3s;
        }
        button{
            height: 100%;
            width: 100%;
            border-radius: 0px;
            min-height: 150px;
            &:hover{
                  i {
                    color: #E91E63;  
                    &:after {
                    transition: all 0.8s ease-out;
                      right: 100%;
                    }
                  }
            }
            i {
                display: inline-block;
                position: relative;
                overflow: hidden;
                text-decoration: none;
                
                &:after {
                  content: '';
                  width: 20%;
                  height: 100%;
                  position: absolute;
                  left: auto;
                  top: 0;
                  bottom: 0;
                  right: -20%;
                  background-image: 
                    linear-gradient(150deg, 
                      rgba(255,255,255,0),
                      rgba(255,255,255,.8),
                      rgba(255,255,255,0)
                    );
                }
                
              }
        }
    }
}