<div class="ma-image-card--primary">
    <div class="ma_flex--container">
        <div class="ma_flex__item">
            <i class="icon-heart material-icons">star</i>
        </div>
        <div class="ma_flex__item">
            <div class="ma_flex--container flex-column align-items-end">
                <div class="ma_flex__item">
                    <span class="ma-state-chip--primary">Open</span>
                </div>
                <div class="ma_flex__item">
                    <span class="">Closes at 10:00 PM</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ma_flex--container card-details-section">
        <div class="ma_flex__item--inherit">
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item">Star Style Salon</div>
                <div class="ma_flex__item">
                    <i class="icon-star ma-pr-10 material-icons">star</i>
                    <i class="icon-star ma-pr-10 material-icons">star</i>
                    <i class="icon-star ma-pr-10 material-icons">star</i>
                    <i class="icon-star ma-pr-10 material-icons">star</i>
                    <i class="icon-star ma-pr-10 material-icons">star_half</i>
                </div>
                <div class="ma_flex__item">Appointment</div>
            </div>
        </div>
        <div class="ma_flex__item d-flex align-items-end">
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item ma_flex__item--vcenter">
                    <i class="icon-star ma-pr-10 material-icons">place</i>
                    <span class="">[3.5km]</span>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                    Saloon
                </div>
            </div>
        </div>
    </div>
</div>
