<div class="ma-select-reservation-popup">
    <div class="row">
        <div class="col-md-6 left-col">
            <div class="ma_flex--container col-header">
                <div class="ma_flex__item ma_flex__item--vcenter">
                    <h2 class="ma__heading-2">Select Date</h2>
                </div>
                <div class="ma_flex__item">
                    <div class="ma_flex--container">
                        <div class="ma_flex__item d-flex justify-content-end">
                            <mat-button-toggle-group class="toggle-basic" name="" aria-label="">
                                <mat-button-toggle value="">
                                    <div class="ma_flex--container flex-column">
                                        <div class="ma_flex__item">
                                            <div class="ma-txt__body2">Today</div>
                                        </div>
                                    </div>
                                </mat-button-toggle>
                                <mat-button-toggle value="">
                                    <div class="ma_flex--container flex-column">
                                        <div class="ma_flex__item">
                                            <div class="ma-txt__body2">Tomorrow</div>
                                        </div>
                                    </div>
                                </mat-button-toggle>
                              </mat-button-toggle-group>
                        </div>
                    </div>   
                </div>
            </div>
            <mat-divider class="mat-divider--dashed"></mat-divider>
            <div class="ma_flex--container">
                <div class="ma_flex__item">
                    <mat-calendar></mat-calendar>
                </div>
            </div>
        </div>
        <div class="col-md-6 right-col">
            <div class="ma_flex--container">
                <div class="ma_flex__item d-flex justify-content-center">
                    <mat-button-toggle-group class="toggle-cards" name="" aria-label="">
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">Breakfast</div>
                                </div>
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2-small">09:00 AM - 11:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">Lunch</div>
                                </div>
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2-small">09:00 AM - 11:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">Dinner</div>
                                </div>
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2-small">09:00 AM - 11:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                </div>
            </div>
            <mat-divider class="mat-divider--dashed"></mat-divider>
            <div class="ma_flex--container">
                <div class="ma_flex__item d-flex justify-content-center">
                    <mat-button-toggle-group class="toggle-basic" name="" aria-label="">
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">09:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">09:30 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">10:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">10:30 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                        <mat-button-toggle value="">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <div class="ma-txt__body2">11:00 AM</div>
                                </div>
                            </div>
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                </div>
            </div>   
            <mat-divider class="mat-divider--dashed"></mat-divider>
            <div class="ma_flex--container flex-column summary-section">
                <div class="ma_flex__item">
                    <div class="ma-txt__body2 ma-txt__secondary">Selected Time</div>
                </div>
                <div class="ma_flex__item">
                    <h3 class="ma__heading-3">13 September 2019 6:15 PM</h3>
                </div>
                <div class="ma_flex__item">
                    <button mat-raised-button class="reserve-btn">Reserve</button>
                </div>
            </div>
        </div>
    </div>
    <i class="material-icons ma-txt__secondary close-btn">close</i>
</div>

