<div class="verticle-card-wrapper">
    <div class="card-outer-wrapper d-flex">
        <div class="card-image" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.50) ), url('https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80') no-repeat center; background-size: cover;"></div>
        <div class="ma-image-card--verticle d-flex">
            <div class="card-inner-wrapper">
                
                <div class="ma_flex--container flex-column align-items-center">
                    <div class="ma_flex__item">
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item justify-content-center d-flex">
                                <span class="ma-txt__body2 align-items-baseline d-flex ma-txt__white card-title"><h1 class="ma__heading-1">$75</h1>.60</span>
                            </div>
                            <div class="ma_flex__item justify-content-center d-flex">
                                <h3 class="ma__heading-1 ma-txt__white card-sub-title">Nunc auctor justo Mauris interdum diam lorem</h3>
                            </div>
                        </div>
                    </div>
                    <div class="ma_flex__item justify-content-center align-items-end d-flex">
                        <button mat-stroked-button>More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
