<mat-drawer-container class="library-drawer">
    <mat-drawer #drawer class="" mode="side">
        <mat-list role="list" class="main-link">
            <mat-list-item class="library-logo-container">
                <img src="../../assets/images/companylogo.png">
            </mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/style-guide" mat-button color="primary">Style Guide</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/search" mat-button color="primary">Search</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/inner-header" mat-button color="primary">Inner Header</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/inner-header" mat-button color="primary">Inner Header</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/menu" mat-button color="primary">Menu</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-full" mat-button color="primary">Image Card Full</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/top-categories" mat-button color="primary">Top Categories</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-primary" mat-button color="primary">Image Card Primary</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-secondary" mat-button color="primary">Image Card Secondary</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-detailed" mat-button color="primary">Image Card Detailed</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-described" mat-button color="primary">Image Card Described</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/image-card-verticle" mat-button color="primary">Image Card Verticle</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/search-item-card" mat-button color="primary">Search Item Card</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/download-component" mat-button color="primary">App Download</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/cart-item" mat-button color="primary">Cart Item</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/cart-block" mat-button color="primary">Cart Block</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/footer" mat-button color="primary">Footer</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/carousel" mat-button color="primary">Carousel</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/carousel-secondary" mat-button color="primary">Carousel Secondary</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/vendor-services" mat-button color="primary">Vendor Services</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/floating-container" mat-button color="primary">Floating Container</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/section-tabs" mat-button color="primary">Section Tabs</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/all-popups" mat-button color="primary">All Popups</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/product-details" mat-button color="primary">Product Details</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/product-select" mat-button color="primary">Product Select</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/search-result-filter" mat-button color="primary">Search Result Filter</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/landing-page" mat-button color="primary">Landing Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/vendor-page" mat-button color="primary">Vendor Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/product-page" mat-button color="primary">Product Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/cart-page" mat-button color="primary">Cart Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/sign-in-page" mat-button color="primary">Sign In Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/sign-up-page" mat-button color="primary">Sign Up Page</a></mat-list-item>
            <mat-list-item role="listitem"><a routerLink="/search-result-page" mat-button color="primary">Search Result Page</a></mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <div class="wrapper-tmp">    
          <div class="container-tmp">
            <header class="template-header header">
              <button mat-mini-fab type="button" mat-button (click)="drawer.toggle()">
                <i class="material-icons">menu</i>
              </button>
              <div class="grid-inner">
                <div class="title">
                  <h1 class="ma__heading-1">Setup v4</h1>
                </div>
                <h2 class="ma__heading-2">Component Library / Design Guideline</h2>
                <p class="">
                  Welcome to the Component Library/Design Guideline for Setup v4
                </p>
              </div>
              <button mat-mini-fab type="button" [matMenuTriggerFor]="theme">
                <i class="material-icons">brush</i>
              </button>
              <mat-menu #theme="matMenu">
                <button mat-menu-item>Light Theme</button>
                <button mat-menu-item>Dark Theme</button>
              </mat-menu>
            </header>
    
            <div class="component-viewport">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
</mat-drawer-container>
