<div class="ma-sign-up-page">
    <div class="sign-up-main-wrapper ma--depth__2">
        <div class="ma_flex--container sign-up-header">
            <div class="ma_flex__item--inherit logo">
                <img src="../../assets/images/logo.png">
            </div>
            <div class="ma_flex__item">
                <h1 class="ma__heading-1">Sign up for an Account</h1>
                <h2 class="ma__heading-2 ma-txt__secondary">The fastest way to find vendors in one app</h2>
            </div>
        </div>
        <div class="sign-up-body">
            <div class="row">
                <div class="col-md-6 left-col">
                    <div class="ma_flex--container flex-column">
                        <div class="ma_flex__item">
                            <mat-form-field class="">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" value="adminjon@gmail.com">
                            </mat-form-field>
                        </div>
                        <div class="ma_flex__item">
                            <div class="ma_flex--container">
                                <div class="ma_flex__item--inherit">
                                    <mat-form-field class="country-code">
                                        <mat-label>Phone</mat-label>
                                        <input matInput placeholder="" value="+44">
                                    </mat-form-field>
                                </div>
                                <div class="ma_flex__item">
                                    <mat-form-field class="">
                                        <input matInput placeholder="" value="77 29 720 66">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="ma_flex__item">
                            <mat-form-field class="">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" value="adminjon@gmail.com">
                            </mat-form-field>
                        </div>
                        <div class="ma_flex__item">
                            <mat-checkbox>
                                <div class="ma-txt__body2-small ma-txt__secondary agreement-label">
                                    By signing up, you agree to <span class="ma-txt__primary __link">Our Terms</span> and that you have  read our <span class="ma-txt__primary __link">Privacy Policy and Content Policy</span>
                                </div>
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 right-col">
                    <div class="ma_flex--container flex-column">
                        <div class="ma_flex__item">
                            <mat-form-field class="">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Password" value="password">
                            </mat-form-field>
                        </div>
                        <div class="ma_flex__item">
                            <mat-form-field class="">
                                <mat-label>Re Enter Password</mat-label>
                                <input type="password" matInput placeholder="Re Enter Password" value="password">
                            </mat-form-field>
                        </div>
                        <div class="ma_flex__item">
                            <mat-form-field class="">
                                <mat-label>Enter Code</mat-label>
                                <input matInput placeholder="Enter Code" value="S3456">
                            </mat-form-field>
                        </div>
                        <div class="ma_flex__item sign-up-btn-wrapper">
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item">
                                    <button mat-raised-button class="ma-btn--large">Sign Up</button>
                                </div>
                                <div class="ma_flex__item justify-content-center d-flex">
                                    <div class="ma-txt__body1-small">
                                        Already have an account?
                                        <span class="ma-txt__body2-small ma-txt__primary __link">Sign in</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up-code-wrapper ma--depth__2" style="display: none;">
        <div class="ma_flex--container sign-up-header">
            <div class="ma_flex__item--inherit logo">
                <img src="../../assets/images/logo.png">
            </div>
            <div class="ma_flex__item">
                <h1 class="ma__heading-1"><span class="ma-fontweight__bolder">Enter the code</span> to verify your Phone</h1>
                <h2 class="ma__heading-2 ma-txt__secondary">We have sent you an SMS with a code to the number <span class="ma-txt__primary">+845 **** 678</span></h2>
            </div>
        </div>
        <div class="sign-up-body">
            <div class="ma_flex--container code-box-container">
                <div class="ma_flex__item d-flex justify-content-center flex-wrap">
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                    <div class="code-box">
                        <mat-form-field class="">
                            <input matInput placeholder="" value="6">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item d-flex justify-content-center">
                    <div class="ma-txt__body2 ma-txt__primary __link">Send a new code</div>
                </div>
                <div class="ma_flex__item d-flex justify-content-center">
                    <button mat-raised-button class="ma-btn--large">Enter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up-footer">
        <div class="ma_flex--container">
            <div class="ma_flex__item justify-content-center d-flex">
                <div class="ma-txt__body1 ma-txt__white text-center">MULTY APP © 2020. All Rights Reserved. Designed by Optimo</div>
            </div>
        </div>
    </div>
</div>
