<div class="ma-image-card-full">
    <div class="row">
        <div class="col-md-6">
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item">
                    <h1 class="ma__heading-1 ma-txt__primary">For Local Businesses</h1>
                </div>
                <div class="ma_flex__item">
                    <h2 class="ma__heading-2">Find out how to start growing your business with online ordering.</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ma_flex--container justify-content-end">
                <div class="ma_flex__item--inherit">
                    Logo
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn-learn-more" mat-flat-button color="accent">Learn More</button>
        </div>
    </div>
</div>
