<div class="ma-product-page">
    <div class="container-fluid">
        <app-ma-top-header></app-ma-top-header>
    </div>
    <div class="container">
        <app-ma-inner-header></app-ma-inner-header>
    </div>
    <div class="container">
        <div class="menu-container">
            <app-ma-menu></app-ma-menu>
        </div>
    </div>
    <div class="container product-details-container">
        <app-ma-product-details></app-ma-product-details>
    </div>
    <div class="container product-select-container">
        <div class="row">
            <div class="col-md-9">
                <div class="ma_flex--container flex-column section-container">
                    <div class="ma_flex__item section-title">
                        <h2 class="ma__heading-2">Type</h2>
                        <span class="ma-txt__body2 ma-txt__secondary">
                            <h3 class="ma__heading-3">3 Items from $3.00 
                                <span class="ma-verticle-separator">|</span>
                                <span class="ma-txt__primary">Selected 1</span>
                            </h3>
                            
                        </span>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                    </div>
                </div>
                <div class="ma_flex--container flex-column section-container">
                    <div class="ma_flex__item section-title">
                        <h2 class="ma__heading-2">Beverages</h2>
                        <span class="ma-txt__body2 ma-txt__secondary">
                            <h3 class="ma__heading-3">3 Items from $3.00 
                                <span class="ma-verticle-separator">|</span>
                                <span class="ma-txt__primary">Selected 1</span>
                            </h3>
                            
                        </span>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                    </div>
                </div>
                <div class="ma_flex--container flex-column section-container">
                    <div class="ma_flex__item section-title">
                        <h2 class="ma__heading-2">Sides</h2>
                        <span class="ma-txt__body2 ma-txt__secondary">
                            <h3 class="ma__heading-3">3 Items from $3.00 
                                <span class="ma-verticle-separator">|</span>
                                <span class="ma-txt__primary">Selected 1</span>
                            </h3>
                            
                        </span>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                        <app-ma-product-select></app-ma-product-select>
                        <mat-divider class="mat-divider--dashed"></mat-divider>
                    </div>
                </div>
            </div>
            <div class="col-md-3 right-col">
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item ma-mb-10">
                        <app-ma-image-card-verticle></app-ma-image-card-verticle>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-verticle></app-ma-image-card-verticle>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-ma-footer></app-ma-footer>
    </div>
</div>