<div class="ma-floating-container">
    <div class="ma_flex--container">
        <div class="ma_flex__item--inherit">
            <div class="triangle-left"></div>
        </div>
        <div class="ma_flex__item middle-col">
            <div class="row">
                <div class="col-md-6 left-col">
                    <h2 class="ma__heading-2">We've been there</h2>
                    <div class="ma-txt__body2 ma-txt__secondary">we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</div>
                    <div class="ma_flex--container all-available">
                        <div class="ma-txt__body2 ma-txt__primary">Find an expert</div>
                        <i class="material-icons ma-pl-10 ma-txt__primary">chevron_right</i>
                    </div>
                </div>
                <div class="col-md-6 right-col">
                    <h2 class="ma__heading-2">Our in-store service</h2>
                    <div class="ma-txt__body2 ma-txt__secondary">we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire.</div>
                    <div class="ma_flex--container all-available">
                        <div class="ma-txt__body2 ma-txt__primary">Find products</div>
                        <i class="material-icons ma-pl-10 ma-txt__primary">chevron_right</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ma_flex__item--inherit">
            <div class="triangle-right"></div>
        </div>
    </div>
</div>
