<div class="ma-product-details ma--depth__1">
    <div class="row">
        <div class="col-md-6">
            <div class="ma_flex--container">
                <div class="ma_flex__item">
                    <app-ma-carousel></app-ma-carousel>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item">
                    <div class="ma-txt__body2 ma-txt__primary">Pizza</div> 
                </div>
                <div class="ma_flex__item item-name">
                    <h1 class="ma__heading-1 ma-txt__secondary">Pizza Meal</h1>
                </div>
                <div class="ma_flex__item rating">
                    <div class="ma_flex--container">
                        <div class="ma_flex__item p50 ma_flex__item--vcenter">
                            <i class="star-icon ma-pr-10 material-icons">star</i>
                            <i class="star-icon ma-pr-10 material-icons">star</i>
                            <i class="star-icon ma-pr-10 material-icons">star</i>
                            <i class="star-icon ma-pr-10 material-icons">star</i>
                            <i class="star-icon ma-pr-10 material-icons">star</i>
                        </div>
                        <div class="ma_flex__item p50">
                            <div class="ma-txt__body2 ma-txt__primary">4.0  [ 250+ ]</div>
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item price">
                    <div class="ma_flex--container">
                        <div class="ma_flex__item p50">
                            <span class="ma-txt__body2 align-items-baseline d-flex"><h1 class="ma__heading-1">$236</h1>.00</span>
                        </div>
                        <div class="ma_flex__item p50">
                            <span class="ma-txt__body2 align-items-baseline d-flex"><h1 class="ma__heading-1 ma-txt__line-through">$246</h1>.00</span>
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item">
                    <button mat-flat-button class="ma-btn--large">Order Now</button>
                </div>
                <div class="ma_flex__item">
                    <div class="ma-txt__body1 ma-txt__secondary">
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer fringilla interdum efficitur Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer fringilla interdum efficitur Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer fringilla interdum efficitur
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <mat-divider class="mat-divider--dashed"></mat-divider>
    <div class="product-options">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary product-option-title">Size:</div>
                    </div>
                    <div class="ma_flex__item">
                        <mat-button-toggle-group name="productsize">
                            <mat-button-toggle value="">Small</mat-button-toggle>
                            <mat-button-toggle value="">Large</mat-button-toggle>
                            <mat-button-toggle value="">Medium</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary product-option-title">Crust:</div>
                    </div>
                    <div class="ma_flex__item">
                        <mat-button-toggle-group name="productcrust">
                            <mat-button-toggle value="">Classic</mat-button-toggle>
                            <mat-button-toggle value="">Thin Crust</mat-button-toggle>
                            <mat-button-toggle value="">Sausage Crust</mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ma_flex--container flex-column counter-wrapper">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary counter-title">Quantity:</div>
                    </div>
                    <div class="ma_flex__item">
                        <div class="ma_flex--container">
                            <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                <button mat-stroked-button><i class="material-icons">remove</i></button>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <mat-form-field class="">
                                    <input matInput placeholder="" value="1">
                                </mat-form-field>
                            </div>
                            <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                <button mat-stroked-button><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
