<div class="ma-landing-page">
    <div class="container-fluid">
        <app-ma-top-header></app-ma-top-header>
    </div>
    <div class="container">
        <app-ma-inner-header></app-ma-inner-header>
    </div>
    <div class="container">
        <div class="ma_flex--container section-header">
            <div class="ma_flex__item">
                <h1 class="ma__heading-1">Featured Favorites</h1>
                <h2 class="ma__heading-2 ma-txt__secondary">456 offers from $345</h2>
            </div>
        </div>
        <div class="ma_flex--container featured-favs">
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 8;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 8;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
        </div>
    </div>
    <app-ma-image-card-full></app-ma-image-card-full>
    <app-ma-top-categories></app-ma-top-categories>
    <div class="container">
        <div class="row">
            <div class="col-md-6  recent-section">
                <div class="ma_flex--container section-header--small">
                    <div class="ma_flex__item">
                        <h1 class="ma__heading-1">Recent</h1>
                        <h2 class="ma__heading-2 ma-txt__secondary">Top 10 recent searches</h2>
                    </div>
                </div>
                <div class="ma_flex--container recent-cards">
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                </div>
            </div>
            <div class="col-md-6  near-me-section">
                <div class="ma_flex--container section-header--small">
                    <div class="ma_flex__item">
                        <h1 class="ma__heading-1">Near Me</h1>
                        <h2 class="ma__heading-2 ma-txt__secondary">Hand picked 2020 offers from $345</h2>
                    </div>
                </div>
                <div class="ma_flex--container near-me-cards">
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                    <div class="ma_flex__item" style="flex-grow: 1;">
                        <app-ma-image-card-primary></app-ma-image-card-primary>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <app-ma-app-download></app-ma-app-download>
</div>
