<div class="ma-landing-page">
    <div class="container-fluid">
        <app-ma-top-header></app-ma-top-header>
    </div>
    <div class="container">
        <app-ma-inner-header></app-ma-inner-header>
    </div>
    <div class="container-fluid carousel-container">
        <app-ma-carousel></app-ma-carousel>
    </div>
    <div class="container featured-favs">
        <div class="ma_flex--container section-header">
            <div class="ma_flex__item">
                <h1 class="ma__heading-1">Featured Favorites</h1>
                <h2 class="ma__heading-2 ma-txt__secondary">456 offers from $345</h2>
            </div>
        </div>
        <div class="ma_flex--container featured-favs-cards">
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 100;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 100;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
            <div class="ma_flex__item" style="flex-grow: 1;">
                <app-ma-image-card-primary></app-ma-image-card-primary>
            </div>
        </div>
        <div class="ma_flex--container all-available">
            <div class="ma_flex__item ma_flex__item--vcenter">
                <span class="ma-txt__body2 ma-txt__primary">List all available favorites </span>
                <i class="material-icons ma-pl-10 ma-txt__primary">chevron_right</i>
            </div>
        </div>
    </div>
    <app-ma-image-card-full></app-ma-image-card-full>
    <app-ma-top-categories></app-ma-top-categories>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="recent-section">
                    <div class="ma_flex--container section-header--small">
                        <div class="ma_flex__item">
                            <h2 class="ma__heading-2">Recent</h2>
                            <h3 class="ma__heading-3 ma-txt__secondary">Top 10 recent searches</h3>
                        </div>
                    </div>
                    <div class="ma_flex--container recent-cards">
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                    </div>
                    <div class="ma_flex--container all-available">
                        <div class="ma_flex__item ma_flex__item--vcenter">
                            <span class="ma-txt__body2 ma-txt__primary">List all available favorites </span>
                            <i class="material-icons ma-pl-10 ma-txt__primary">chevron_right</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="near-me-section">
                    <div class="ma_flex--container section-header--small">
                        <div class="ma_flex__item">
                            <h2 class="ma__heading-2">Near Me</h2>
                            <h3 class="ma__heading-3 ma-txt__secondary">Hand picked 2020 offers from $345</h3>
                        </div>
                    </div>
                    <div class="ma_flex--container near-me-cards">
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                        <div class="ma_flex__item" style="flex-grow: 1;">
                            <app-ma-image-card-primary></app-ma-image-card-primary>
                        </div>
                    </div>
                    <div class="ma_flex--container all-available">
                        <div class="ma_flex__item ma_flex__item--vcenter">
                            <span class="ma-txt__body2 ma-txt__primary">List all available favorites </span>
                            <i class="material-icons ma-pl-10 ma-txt__primary">chevron_right</i>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <div class="container-fluid">
        <app-ma-app-download></app-ma-app-download>
    </div>
    <div class="container your-fav-section">
        <div class="ma_flex--container section-header--small">
            <div class="ma_flex__item">
                <h2 class="ma__heading-2">Your Favorite Foods</h2>
                <h3 class="ma__heading-3 ma-txt__secondary">Delivered with us</h3>
            </div>
        </div>
        <div class="ma_flex--container">
            <div class="ma_flex__item ma-col-1">
                <app-ma-image-card-secondary></app-ma-image-card-secondary>
            </div>
            <div class="ma_flex__item ma-col-2">
                <app-ma-image-card-secondary></app-ma-image-card-secondary>
            </div>
            <div class="ma_flex__item ma-col-3">
                <app-ma-image-card-secondary></app-ma-image-card-secondary>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-ma-footer></app-ma-footer>
    </div>
</div>
