.set-search-panel {
    background-color: #f1f3f4;
    border-radius: 8px;
    overflow: hidden;
    height: 48px;

    // .mat-form-field-underline{
    //     display: none !important;
    // }
.advanced-search-popup{
    width: 500px !important;
}

    .btn-search {
        height: 100%;
        background-color: #ffd740;
        border-radius: 0px;
        color: #fff;
    }
}