<mat-accordion class="ma-cart-block">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header collapsedHeight="85px" expandedHeight="85px">
        <div class="ma_flex--container">
            <div class="ma_flex__item">
                <h2 class="ma__heading-2">Hana Mart Pvt Ltd</h2>
                <h3 class="ma__heading-3 ma-txt__secondary">2 Items</h3>
            </div>
        </div>
      </mat-expansion-panel-header>
      <div class="row">
          <div class="col-md-8 left-col">
            <div class="ma_flex--container cart-action-buttons">
                <div class="ma_flex__item--inherit">
                    <button mat-stroked-button class="dotted-btn">
                        <h3 class="ma__heading-3">Collect</h3>
                        <div class="ma-txt__body2">Available in 1 to 4 hours</div>
                    </button>
                </div>
                <div class="ma_flex__item">
                    <button mat-flat-button class="ma-btn--large">
                        <div class="ma_flex--container">
                            <div class="ma_flex__item ma_flex__item--vcenter ma-pr-10">
                                <i class="ma-ico-timer"></i>
                            </div>
                            <div class="ma_flex__item">
                                <div class="ma_flex--container flex-column align-items-start">
                                    <div class="ma_flex__item">
                                        <h3 class="ma__heading-3">Pending</h3>
                                    </div>
                                    <div class="ma_flex__item">
                                        <div class="ma-txt__body2-small">Items</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="ma_flex__item">
                    <div class="ma_flex--container action-button-right">
                        <div class="ma_flex__item--inherit">
                            <button mat-stroked-button class="icon-btn ma-txt__secondary">
                                <i class="ma-ico-shopping-bag"></i>
                                <div class="ma-txt__body2">Order More</div>
                            </button>
                        </div>
                        <div class="ma_flex__item--inherit">
                            <button mat-stroked-button class="icon-btn ma-txt__primary">
                                <i class="material-icons">chat</i>
                                <div class="ma-txt__body2">Chat</div>
                            </button>
                        </div>
                        <div class="ma_flex__item--inherit">
                            <button mat-stroked-button class="icon-btn ma-txt__primary">
                                <i class="ma-ico-support"></i>
                                <div class="ma-txt__body2">Request Service</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ma_flex--container item-container flex-column">
                <div class="ma_flex__item">
                    <app-ma-cart-item></app-ma-cart-item>
                </div>
                <div class="ma_flex__item">
                    <mat-divider></mat-divider>
                </div>
            </div>
            <div class="ma_flex--container item-container flex-column">
                <div class="ma_flex__item">
                    <app-ma-cart-item></app-ma-cart-item>
                </div>
                <div class="ma_flex__item">
                    <mat-divider></mat-divider>
                </div>
            </div>
            <div class="notes-container">
                <div class="ma_flex--container notes-header">
                    <div class="ma_flex__item ma_flex__item--vcenter">
                        <h2 class="ma__heading-2">Notes</h2>
                    </div>
                    <div class="ma_flex__item d-flex justify-content-end">
                        <button mat-stroked-button class="icon-btn ma-txt__primary">
                            <i class="material-icons">add</i>
                            <div class="ma-txt__body2">Notes</div>
                        </button>
                    </div>
                </div> 
                <div class="ma_flex--container notes-body">
                    <div class="ma_flex__item note-icon">
                        <i class="material-icons">post_add</i>
                    </div>
                    <div class="ma_flex__item d-flex note-text">
                        <div class="ma-txt__body1 ma-txt__secondary">
                            we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire,
                        </div>
                    </div>
                    <div class="ma_flex__item d-flex note-attachments">
                        <button class="btn-cart" mat-raised-button color="primary"
                        matBadge="2" matBadgePosition="after" matBadgeColor="accent">
                        <i class="material-icons">attachment</i>
                    </button>
                    </div>
                </div>
            </div>   
          </div>
          <div class="col-md-4">
            <div class="price-summary-wrapper">
                <div class="ma_flex--container summary-header flex-column">
                    <div class="ma_flex__item ma_flex__item--vcenter">
                        <i class="material-icons ma-pr-10">check_circle</i>
                        <h2 class="ma__heading-2">Price Summary</h2>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2">2 Items</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2">$23.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary">Net Price</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2">$20.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary">Discounts/Voucher</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2 ma-txt__primary">-$0.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary">Sub Total</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2">$20.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2">Total Price</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2">$20.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary">Added To Loyalty Pot</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2">$20.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2 ma-txt__secondary">Redeem From Loyalty Pot</div>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <div class="ma-txt__body2 ma-txt__primary">-$20.00</div>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container summary-item">
                    <div class="ma_flex__item">
                        <h3 class="ma__heading-3">Total To Be Paid</h3>
                    </div>
                    <div class="ma_flex__item justify-content-end d-flex">
                        <h3 class="ma__heading-3">$20.00</h3>
                    </div>
                </div>
                <mat-divider class="mat-divider--dashed"></mat-divider>
                <div class="ma_flex--container payment-methods-header">
                    <div class="ma_flex__item">
                        <h3 class="ma__heading-3">Payment Methods</h3>
                    </div>
                </div>
                <div class="ma_flex--container payment-methods-body">
                    <div class="ma_flex__item ma_flex__item--vcenter">
                        <i class="material-icons">credit_card</i>
                    </div>
                    <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                        <div class="ma_flex--container flex-column  flex-column align-items-end">
                            <div class="ma_flex__item">
                                <div class="ma-txt__body2">Mastercard</div>
                            </div>
                            <div class="ma_flex__item">
                                <h3 class="ma__heading-3 ma-txt__secondary">*****8946</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="triangle-left"></div>
                <div class="triangle-right"></div>
            </div>
          </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>