<div class="ma-cart-page">
    <div class="container-fluid">
        <app-ma-top-header></app-ma-top-header>
    </div>
    <div class="container">
        <app-ma-inner-header></app-ma-inner-header>
    </div>
    <div class="container menu-container">
        <app-ma-menu></app-ma-menu>
    </div>
    <div class="container">
        <div class="ma_flex--container breadcrumb-container">
            <div class="ma_flex__item--inherit breadcrumb-item">
                <div class="ma-txt__body2">RM Stores</div>
            </div>
            <div class="ma_flex__item--inherit breadcrumb-item">
                <div class="ma-txt__body2">Products</div>
            </div>
            <div class="ma_flex__item--inherit breadcrumb-item __active">
                <div class="ma-txt__body2">Shopping Cart</div>       
            </div>
        </div>
        <mat-divider class="breadcrumb-divider"></mat-divider>
    </div>
    <div class="container cart-container">
        <app-ma-cart-block></app-ma-cart-block>
    </div>
    <div class="container-fluid">
        <app-ma-footer></app-ma-footer>
    </div>
</div>
