<div class="ma-footer">
    <div class="footer-links">
        <div class="row">
            <div class="col-md-3 col-1">
                <h2>Company</h2>
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        About
                    </div>
                    <div class="ma_flex__item--inherit">
                        Blog
                    </div>
                    <div class="ma_flex__item--inherit">
                        Careers
                    </div>
                    <div class="ma_flex__item--inherit">
                        Report
                    </div>
                    <div class="ma_flex__item--inherit">
                        Contact
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-2">
                <h2>Company</h2>
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        About
                    </div>
                    <div class="ma_flex__item--inherit">
                        Blog
                    </div>
                    <div class="ma_flex__item--inherit">
                        Careers
                    </div>
                    <div class="ma_flex__item--inherit">
                        Report
                    </div>
                    <div class="ma_flex__item--inherit">
                        Contact
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-3">
                <h2>Company</h2>
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        About
                    </div>
                    <div class="ma_flex__item--inherit">
                        Blog
                    </div>
                    <div class="ma_flex__item--inherit">
                        Careers
                    </div>
                    <div class="ma_flex__item--inherit">
                        Report
                    </div>
                    <div class="ma_flex__item--inherit">
                        Contact
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-4">
                <h2>Be Social With Us</h2>
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        Social media links
                    </div>
                    <div class="ma_flex__item--inherit">
                        <button  mat-flat-button color="accent">Sign up to our newsletter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>