<div class="ma-section-tabs">
    <h3 class="ma__heading-3 ma-txt__secondary section-title">You may also like</h3>
    <mat-tab-group>
        <mat-tab label="Starters">
            <div class="tab-divider">
                <div class="tab-divider-colored"></div>
            </div>
            <div class="ma-tab-body">
                <div class="ma_flex--container">
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                    <div class="ma_flex__item">
                        <app-ma-image-card-described></app-ma-image-card-described>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Pizza"> 
            <div class="tab-divider">
                <div class="tab-divider-colored"></div>
            </div>
            Content 2
        </mat-tab>
        <mat-tab label="Smoky Chicken"> Content 3 </mat-tab>
        <mat-tab  label="You may also like" disabled></mat-tab>
      </mat-tab-group>
</div>
