<div class="ma-carousel-secondary">
    <div class="ma_flex--container flex-column">
        <div class="ma_flex__item image-preview">
            <img src="https://www.blazepizza.com/assets/images/BYO_Large_1684x1114.jpg">
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter justify-content-center">
            <button mat-icon-button aria-label="">
                <mat-icon class="icon-previous">arrow_left</mat-icon>
            </button>
            <div class="carousel-thumbnail thumbnail--active">
                <img src="https://images.pexels.com/photos/605408/pexels-photo-605408.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="carousel-thumbnail">
                <img src="https://tmbidigitalassetsazure.blob.core.windows.net/rms3-prod/attachments/37/1200x1200/Homemade-Pizza_EXPS_HCA20_376_E07_09_2b.jpg">
            </div>
            <div class="carousel-thumbnail">
                <img src="https://media.gettyimages.com/photos/cheesy-pepperoni-pizza-picture-id938742222?s=612x612">
            </div>
            <button mat-icon-button aria-label="">
                <mat-icon class="icon-next">arrow_right</mat-icon>
            </button>
        </div>
    </div>
</div>
