
<div class="ma-top-categories">
    <div class="row">
        <div class="col-md-12">
            <div class="ma_flex--container flex-column align-items-center top-categories-header section-header--small">
                <div class="ma_flex__item--inherit ma_flex__item--vcenter"><h1 class="ma__heading-1">Top Categories</h1></div>
                <div class="ma_flex__item--inherit ma_flex__item--vcenter"><h2 class="ma__heading-2  ma-txt__secondary">List of Top 10 Most Popular Search</h2></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 top-categories-wrapper">
                <div class="ma_flex--container">
                    <div class="ma_flex__item--inherit">
                        <div class="triangle-left"></div>
                    </div>
                    <div class="ma_flex__item">
                        <div class="top-cat-middle-col">
                            <div class="ma_flex--container">
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="ma-ico-change"></i>
                                            <span class="ma-txt__body2 ma-txt__secondary">Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="ma-ico-dress"></i>
                                            <span>Fashion</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="ma-ico-work"></i>
                                            <span>Salon</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="ma-ico-home-run"></i>
                                            <span>Jewellery</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                                <div class="ma_flex__item cat-item">
                                    <button mat-stroked-button>
                                        <div class="ma_flex--container flex-column">
                                            <i class="material-icons">note</i>
                                            <span>Food</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ma_flex__item--inherit">
                        <div class="triangle-right"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
