<div class="ma-product-select">
    <div class="ma_flex--container flex-wrap">
        <div class="ma_flex__item--inherit d-flex">
            <img src="../../assets/images/vendor-full-card-img.png">
        </div>
        <div class="ma_flex__item">
            <div class="ma_flex--container flex-column">
                <div class="ma_flex__item">
                    <h3 class="ma__heading-3">Nunc auctor justo</h3>
                    <div class="ma-txt__body2 ma-txt__secondary">Mauris interdum diam lorem. Sed vitae</div>
                </div>
                <div class="ma_flex__item">
                    <div class="ma_flex--container ma-mt-15">
                        <div class="ma_flex__item ma_flex__item--vcenter">
                            <button mat-stroked-button>Select</button>
                        </div>
                        <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                            <div class="ma-txt__body2 ma-txt__primary">+ $2.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
