<nav class="menu-nav-wrapper navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menunavbar" aria-controls="menunavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <ul class="ma-menu collapse navbar-collapse" id="menunavbar">
    <li class="menu-item" >
        All Categories
        <ul class="item-body">
            <div class="row">
                <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row  bottom-row">
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col- 12 col-md-3">
                    <img class="" src="../../assets/images/menu-image.jpg">
                </div>
            </div>
        </ul>
    </li>
    <li class="menu-item">
        Shops
        <ul class="item-body">
            <div class="row">
                <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Family Choice</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Jones Convenience Stores</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Lifestyle Express</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">One Stop</div>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <div class="ma-txt__body2 ma-txt__white __link">Sainsbury's Local</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row  bottom-row">
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-3">
                            <h3 class="ma__heading-3 ma-txt__white ma-fontweight__bold section-title">Convenience Store</h3>
                            <div class="ma_flex--container flex-column">
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Central Convenience Stores</div>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <div class="ma-txt__body2 ma-txt__white __link">Costcutter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col- 12 col-md-3">
                    <img class="" src="../../assets/images/menu-image.jpg">
                </div>
            </div>
        </ul>
    </li>
    <li class="menu-item">
        Pages
    </li>
    <li class="menu-item">
        Product List
    </li>
    <div class="ma_flex--container right-col">
        <div class="ma_flex__item ma_flex__item--vcenter justify-content-md-end right-col">
            <i class="material-icons ma-pr-10">phone</i>
            <span class="ma-txt__body2">Hotline (+123)4 567 890</span>
        </div>
    </div>
</ul>
</nav>