<div class="ma-sign-in-page">
    <div class="sign-in-body">
        <div class="row ma--depth__2">
            <div class="col-md-6 left-col">
                <div class="ma_flex--container description-text">
                    <div class="ma_flex__item">
                        <h1 class="ma__heading-1 ma-txt__primary">Find Your Best Place</h1>
                    </div>
                    <div class="ma_flex__item">
                        <div class="ma-txt__body2">The fastest way to find vendors in one app</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-col">
                <div class="ma_flex--container justify-content-center">
                    <div class="ma_flex__item logo">
                        <img src="../../assets/images/logo-white.png">
                    </div>
                </div>
                <div class="ma_flex--container flex-column credentials-container">
                    <div class="ma_flex__item">
                        <mat-form-field class="">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" value="adminjon@gmail.com">
                        </mat-form-field>
                    </div>
                    <div class="ma_flex__item">
                        <mat-form-field class="">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" value="password">
                        </mat-form-field>
                    </div>
                    <div class="ma_flex__item">
                        <div class="ma_flex--container flex-wrap">
                            <div class="ma_flex__item ma_flex__item--vcenter">
                                <mat-checkbox>Remember me</mat-checkbox>
                            </div>
                            <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                                <div class="ma-txt__body1-small  ma-txt__secondary __link">Forgot password</div>
                            </div>
                        </div>
                    </div>
                    <div class="ma_flex__item sign-in-btn-wrapper">
                        <div class="ma_flex--container flex-column">
                            <div class="ma_flex__item">
                                <button mat-raised-button class="ma-btn--large">Sign In</button>
                            </div>
                            <div class="ma_flex__item justify-content-center d-flex">
                                <div class="ma-txt__body1-small">
                                    Don't have an account?
                                    <span class="ma-txt__body2-small ma-txt__primary __link">Sign Up</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ma_flex__item social-media-buttons">
                        <div class="ma_flex--container justify-content-center">
                            <div class="ma_flex__item--inherit">
                                <button class="btn-fb" mat-raised-button>
                                    <i class="ma-ico-facebook"></i>
                                </button>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <button class="btn-twitter" mat-raised-button>
                                    <i class="ma-ico-twitter"></i>
                                </button>
                            </div>
                            <div class="ma_flex__item--inherit">
                                <button class="btn-gplus" mat-raised-button>
                                    <i class="ma-ico-instagram"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-in-footer">
        <div class="ma_flex--container">
            <div class="ma_flex__item justify-content-center d-flex">
                <div class="ma-txt__body1 ma-txt__white text-center">MULTY APP © 2020. All Rights Reserved. Designed by Optimo</div>
            </div>
        </div>
    </div>
</div>
