<div class="ma-cart-item">
    <div class="ma_flex--container flex-wrap">
        <div class="ma_flex__item--inherit item-image d-flex">
            <img src="../../assets/images/vendor-full-card-img.png">
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter">
            <div class="ma_flex--container w-100">
                <div class="ma_flex__item">
                    <div class="ma_flex--container flex-column">
                        <div class="ma_flex__item">
                            <h3 class="ma__heading-3">Colgate Toothbrush</h3>
                        </div>
                        <div class="ma_flex__item">
                            <div class="ma-txt__body2 ma-txt__secondary">Children between 6 and 12</div>
                        </div>
                        <div class="ma_flex__item">
                            <div class="ma-txt__body2 cart-item-type">Sky Blue</div>
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item d-flex justify-content-end">
                      <h3 class="ma__heading-3 ma-txt__primary">$5.00</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="ma_flex--container item-addon-header">
        <div class="ma_flex__item--inherit  ma_flex__item--vcenter ma-pr-10">
            <div class="ma-txt__body2">Add-Ons</div>
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter">
            <mat-divider class="mat-divider--dashed"></mat-divider>
        </div>
    </div>
    <div class="ma_flex--container item-addon flex-wrap">
        <div class="ma_flex__item--inherit item-image d-flex">
            <img src="../../assets/images/toothpaste.png">
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter">
            <div class="ma_flex--container w-100 flex-wrap">
                <div class="ma_flex__item ma_flex__item--vcenter addon-name">
                    <div class="ma-txt__body2">Colgate Toothbrush</div>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter">
                    <div class="ma_flex--container flex-column counter-wrapper">
                        
                        <div class="ma_flex__item">
                            <div class="ma_flex--container">
                                <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                    <button mat-stroked-button><i class="material-icons">remove</i></button>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <mat-form-field class="">
                                        <input matInput placeholder="" value="1">
                                    </mat-form-field>
                                </div>
                                <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                    <button mat-stroked-button><i class="material-icons">add</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                    <div class="ma-txt__body2">$5.00</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ma_flex--container item-addon flex-wrap">
        <div class="ma_flex__item--inherit item-image d-flex">
            <img src="../../assets/images/toothpaste.png">
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter">
            <div class="ma_flex--container w-100 flex-wrap">
                <div class="ma_flex__item ma_flex__item--vcenter addon-name">
                    <div class="ma-txt__body2">Colgate Toothbrush</div>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter">
                    <div class="ma_flex--container flex-column counter-wrapper">
                        
                        <div class="ma_flex__item">
                            <div class="ma_flex--container">
                                <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                    <button mat-stroked-button><i class="material-icons">remove</i></button>
                                </div>
                                <div class="ma_flex__item--inherit">
                                    <mat-form-field class="">
                                        <input matInput placeholder="" value="1">
                                    </mat-form-field>
                                </div>
                                <div class="ma_flex__item--inherit ma_flex__item--vcenter">
                                    <button mat-stroked-button><i class="material-icons">add</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                    <div class="ma-txt__body2">$5.00</div>
                </div>
            </div>
        </div>
    </div>
</div>