<div class="ma-search-item-card">
    <div class="ma_flex--container flex-wrap">
        <div class="ma_flex__item--vcenter img-wrapper">
            <img src="../../assets/images/toothpaste.png">
        </div>
        <div class="ma_flex__item ma_flex__item--vcenter">
            <div class="ma_flex--container w-100 desc-container">
                <div class="ma_flex__item ma_flex__item--vcenter">
                    <div class="ma_flex--container flex-column">
                        <div class="ma_flex__item">
                            <h3 class="ma__heading-3 item-name">Colgate Toothpaste 100g</h3>
                        </div>
                        <div class="ma_flex__item">
                            <i class="star-icon material-icons ma-txt__primary">star</i>
                            <i class="star-icon material-icons ma-txt__primary">star</i>
                            <i class="star-icon material-icons ma-txt__primary">star</i>
                            <i class="star-icon material-icons ma-txt__primary">star</i>
                            <i class="star-icon material-icons">star</i>    
                        </div>
                    </div>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter justify-content-start justify-content-sm-end">
                    <h3 class="ma__heading-3">$5.50</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="item-badge">
        <div class="ma_flex--container flex-column">
            <div class="ma_flex__item">2</div>
            <div class="ma_flex__item">offers</div>
        </div>
    </div>
</div>