<div class="described-card-wrapper">
<div class="card-outer-wrapper">
    <div class="card-image"></div>
    <div class="ma-image-card--described" >
        <div class="ma_flex--container">
            <div class="ma_flex__item">
                <i class="heart-icon material-icons">star</i>
            </div>
        </div>
    </div>
</div>
<div class="ma_flex--container described-card-details">
    <div class="ma_flex__item--inherit">
        <div class="ma_flex--container flex-column left-col">
            <div class="ma_flex__item">
                <div class="ma-txt__body2">Star Style Salon</div>
            </div>
            <div class="ma_flex__item">
                <div class="ma_flex--container">
                    <div class="ma_flex__item ma_flex__item--vcenter">
                        <i class="star-icon ma-pr-10 material-icons">star</i>
                        <i class="star-icon ma-pr-10 material-icons">star</i>
                        <i class="star-icon ma-pr-10 material-icons">star</i>
                        <i class="star-icon ma-pr-10 material-icons">star</i>
                        <i class="star-icon ma-pr-10 material-icons">star</i>
                    </div>
                    <div class="ma_flex__item ma_flex__item--vcenter">
                        <div class="ma-txt__body2-small"><span class="ma-pr-10">4.0</span>[250+]</div>
                    </div>
                </div>
            </div>
            <div class="ma_flex__item"><span class="ma-txt__body2-small ma-txt__primary">Appointment</span></div>
        </div>
    </div>
    <div class="ma_flex__item d-flex align-items-end">
        <div class="ma_flex--container flex-column ma-pl-20 w-100 right-col">
            <div class="ma_flex__item align-items-end d-flex flex-column justify-content-end">
                <span class="ma-txt__body2-small  ma-txt__secondary ma-floating-label">Last Order Date</span>
                <span class="ma-txt__body2-small">23 Jan 2020</span>
            </div>
            <div class="ma_flex__item ma_flex__item--vcenter justify-content-end">
                <span class="ma-txt__body2-small">Saloon</span>
            </div>
        </div>
    </div>
</div>
<div class="ma_flex--container described-card-button">
    <button mat-raised-button>Buy Now</button>
</div>
</div>