html {
  scroll-behavior: smooth;
}
.set_flex{
    &--container{
      @include flexbox();

       &.space-between{
         justify-content: space-between !important;
       }
    }
    &__item{
      @include align-self(auto);
      @include  flex(1 1 auto);

      &--inherit{
        flex-grow: inherit;
      }

      &--vcenter{
        display: flex;
        align-items: center;
      }
      &--vbottom{
        display: flex;
        align-items: flex-end;
      }
      &.p5{
        width: 5%;
      }
      &.p10{
        width: 10%;
      }
      &.p15{
        width: 15%;
      }
      &.p20{
        width: 20%;
      }
      &.p25{
        width: 25%;
      }
      &.p30{
        width: 30%;
      }
      &.p33{
        width: 33%;
      }
      &.p40{
        width: 40%;
      }
      &.p50{
        width: 50%;
      }
      &.p70{
        width: 70%;
      }
      &.p75{
        width: 75%;
      }
      &.p100{
        width: 100%;
      }
    }
}
.set{
    &--flex-box{
      @include flexbox();
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-content(stretch);
      @include align-items(flex-start);}
    // Add one of the following classes to any html element to achieve a desired depth of the shadow
  
  
    &--depth__1{
      @include box_shadow(1);
    }
  
    &--depth__2{
      @include box_shadow(2);
    }
  
    &--depth__3{
      @include box_shadow(3);
    }
  
    &--depth__4{
      @include box_shadow(4);
    }
    &--depth__5{
      @include box_shadow(5);
    }

    &-w-100{
      width: 100%;
    }
  
  }
  .container-fluid{
    padding: 0px;
    // @include respond-to("x-large") {
    //   max-width: 1900px !important;
    // }
  }
    .container{
      // @include respond-to("large") {
      //     min-width: 1400px;
      // }
  }
.__link{
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}
.mat-divider--dashed{
  display: block;
  margin: 10px 0px !important;
  border-top-width: 1px;
  border-top-style: dashed !important;
  border-width: 2px;
  border-top-color: #707070;
}
.set-btn--large{
  border-radius: 28px !important;
  background-color: #E91E63;
  color: #fff;
  margin: 20px 0px !important;
  font-size: 30px;
  padding: 10px 30px !important;
  line-height: 30px !important;
}
.set-verticle-separator{
  margin: 0 10px;
}
.mat-checkbox-checked{
  .mat-checkbox-background{
    background-color: #e91e63 !important;
  }
}
.library-logo-container{
  height: 100px !important;
  justify-content: center;
  display: flex !important;
  background-color: #393d40;
  img{
    width: 100px;
  }
}
.collapse{
  &.show{
    display: block !important;
  }
}
.mat-dialog-container{
  padding: 0px !important;
}