<div class="card-outer-wrapper">
    <div class="card-image" style="background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.50) ), url('https://www.crushpixel.com/static12/preview2/food-ingredients-spices-cooking-delicious-802207.jpg') center"></div>
    <div class="ma-image-card--detailed d-flex">
        <div class="card-inner-wrapper">
            <div class="ma_flex--container item-info">
                <div class="ma_flex__item ma_flex__item--vcenter item-name">
                    <h3 class="ma__heading-3 ma-txt__white">Hot and Crispy Smoky Chicken</h3>
                </div>
                <div class="ma_flex__item ma_flex__item--vcenter item-price">
                    <h3 class="ma__heading-3 ma-txt__white">$345</h3>
                </div>
            </div>
            <div class="ma_flex--container item-label">
                <div class="ma_flex__item justify-content-end">
                    <div class="ma-txt__body2 ma-txt__tertiary">All the chicken lovers!</div>
                </div>
            </div>
        </div>
    </div>
</div>
