<div class="ma-app-download">
    <div class="ma_flex--container">
        <div class="ma_flex__item--inherit ma_flex__item--vcenter justify-content-center col-1">
            <img src="../../assets/images/logo-white.png">
        </div>
        <div class="ma_flex__item">
            <div class="app-download-details">
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        <div class="ma_flex--container flex-column section-header--small">
                            <div class="ma_flex__item--inherit ma_flex__item--vcenter"><h1 class="ma__heading-1">Have you got the app?</h1></div>
                            <div class="ma_flex__item--inherit ma_flex__item--vcenter"><h2 class="ma__heading-2">Get yours now - available on the iOS and Android app stores!</h2></div>
                        </div>
                    </div>
                    <div class="ma_flex__item--inherit logo-section">
                        <img src="../../assets/images/appstore.png">
                        <img src="../../assets/images/gplay.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-logo">
        <img src="../../assets/images/logo-grey.png">
    </div>
</div>
