<div class="ma-app-download">
    <div class="ma_flex--container">
        <div class="ma_flex__item--inherit col-1">
            Logo
        </div>
        <div class="ma_flex__item">
            <div class="app-download-details">
                <div class="ma_flex--container flex-column">
                    <div class="ma_flex__item--inherit">
                        <h2>Have you got the app?</h2>
                    </div>
                    <div class="ma_flex__item--inherit">
                        <h3>Get yours now - available on the iOS and Android app stores!</h3>
                    </div>
                    <div class="ma_flex__item--inherit">
                        <button  mat-flat-button color="accent">App Store</button>
                        <button  mat-flat-button color="accent">Google Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
